.main_div {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px 25px;
    height: 30px;
    color: #0371e9;
    background: #e1e4e5;
}

.workarea-box{
    background-color: #e1e4e5;
    display: grid;
    height: calc(100vh - 68px);
    /* grid-gap: 2px; */
    /* grid-template-columns: 28.5% 70%; */
    grid-template-columns: 20% 80%;
}

.item2 {
    padding-left: 15px;
}