<!-- <div class="toolbar-box"> -->
    <div class="tools-selector-boxB">
        <div (click)="tabSelected(0)" [ngClass]="index == 0 ? mltclass: '' " class="tools">
            <span>Secure Files</span>
        </div>

        <div (click)="tabSelected(1)" [ngClass]="index == 1 ? mltclass: '' " class="tools">           
            <span>Secure Photos</span>
        </div>

        <div (click)="tabSelected(2)" [ngClass]="index == 2 ? mltclass: '' " class="tools">
            <span>My Profile</span>
        </div>

        <div (click)="tabSelected(3)" [ngClass]="index == 3 ? mltclass: '' " class="tools">
            <span>About Us</span>
        </div>

        <div (click)="tabSelected(4)" [ngClass]="index == 4 ? mltclass: '' " class="tools">
            <span>Help</span>
        </div>

    </div>
<!-- </div> -->