<div class="outerBoxA">
    <div class="search-box">
        <input class="searchInput" type="search" placeholder="Search Photos" />
        <span class="searchIcon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor" d="M15.2 16.34a7.5 7.5 0 1 1 1.38-1.45l4.2 4.2a1 1 0 1 1-1.42 1.41l-4.16-4.16zm-4.7.16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"></path>
            </svg>
        </span>
    </div>

    <h3 class="securePhotosHeading">Secure Photos</h3>

    <div class="scrollDiv">
        <ng-container *ngFor="let photos of photosList; let i = index;">
            <div class="photosDiv">
                <img class="photo" src="{{ photos.thumbnailUrl }}" />
                <div style="display: flex; flex-direction: column;">
                    <p class="photoTitle">{{ photos.title }}</p>
                    <p style="color: gray;">{{ 'Album' + photos.albumId }}</p>
                </div>
                <img class="deleteIcon" src="../../../assets/images/icons8-delete-48.png" (click)="deleteImage( i )" />
            </div>
        </ng-container>
    </div>
    
</div>